@*@model IEnumerable<MvcBookStore.Models.SACH>*@


@using MvcBookStore.Models
@using PagedList.Mvc
@model PagedList.PagedList<SACH>

@{
    ViewBag.Title = "Home Page";
}

@foreach (var sach in Model)
{
    <div class="templatemo_product_box">
        <a href="@Url.Action("Details", "BookStore", new { id = sach.Masach })">
            <img alt="@sach.Tensach" src="~/Content/image/@sach.Anhbia" style="width:223px; height:113px" />
        </a>
        <div class="product_info">
            <p>@sach.Tensach</p>
            <h3>@sach.Giaban</h3>
            <div class="button-container">
                <!-- Flex container for buttons -->
                <a href="@Url.Action("Details", "BookStore", new { id = sach.Masach })" class="btn btn-success btn-buy">Buy Now</a>
                <a href="@Url.Action("Details", "BookStore", new { id = sach.Masach })" class="btn btn-primary btn-detail">Detail</a>
            </div>
        </div>
    </div>
    <div class=""></div>
    //sdfk
}
<div class="pagination-text">
    Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount;
</div>

<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>

<style>
    .MenuTrang li {
        display: inline;
    }
</style>
